.header_gradient {
  background: radial-gradient(
    circle at 74.2% 50.9%,
    rgb(14, 72, 222) 5.2%,
    rgb(3, 22, 65) 75.3%
  );
}

.navbar_link_head {
  margin: auto;
}

.white_link {
  color: white;
  text-decoration: none;
}
.white_link:hover {
  color: antiquewhite;
}

.timer {
  font-size: 1.5rem;
  color: #fff !important;
  background-color: #252525;
  display: flex;
  justify-content: space-between;
}
